@media (min-width: 320px) and (max-width: 767px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    width: 320px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .Main {
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header-element {
    width: 280px;
    height: 60px;
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
  }

  .Title {
    color: #545454;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
  }

  .Subtitle {
    color: #292929;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.31px;
  }

  .navigation {
    display: none;
  }

  .burger-menu {
display: block;
  }

  .burger-img-pets {
    width: 30px;
    height: 22px;
    margin-top: 4px;
    cursor: pointer;
  }

  .pets {
    width: 300px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .pets-content {
    width: 300px;
    height: 64px;
    margin-top: 42px;
    font-size: 25px;
    line-height: 130%;
  }

  .pets-container {
    width: 270px;
    height: 1365px;
    margin: 42px 15px;
    overflow: hidden;
    background-color: #f6f6f6;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    gap: 30px 0px;
  }

  .Slider-card {
    gap: 30px;
    height: 435px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-pets {
    width: 270px;
    height: 270px;
  }

  .name-pets {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 12.9px;
    text-align: center;
  }

  .button-card {
    color: #292929;
    width: 187px;
    height: 52px;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 12px;
    cursor: pointer;
  }

  .paginator {
    margin-bottom: 42px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .paginator-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .pagin-l {
    cursor: pointer;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
  }

  .pagin-center {
    cursor: pointer;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
    background-color: #f1cdb3;
  }

  .pagin-r {
    cursor: pointer;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
  }

  footer {
    width: 320px;
    height: 809px;
    background-image: url("images/320зч-footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  .footet-element {
    display: none;
  }

  .footer-element-320 {
    margin-top: 30px;
    row-gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .h3-footer {
    font-family: Georgia;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-align: center;
  }

  .footer-content {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #f1cdb3;
    margin: 0;
  }

  .footer-puppy {
    width: 260px;
    height: 269px;
  }

  .footer-flex1 {
    width: 278px;
    height: 208px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .footer-flex2 {
    width: 300px;
    height: 222px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .contacts {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
  }

  .Contacts-icon {
    width: 40px;
    height: 32px;
    object-fit: contain;
  }

  .Location-icon {
    width: 22px;
    height: 32px;
    object-fit: contain;
  }
}
