body {
    width: 1280px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.Main {
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F6F6;
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    background-color: #FFFFFF;
}

.header-element {
    width: 1200px;
    height: 60px;
    margin: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.Title {
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
}

.Subtitle {
    color: #292929;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.31px;
}

.navigation {
    margin-bottom: 3px;
    width: 443px;
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    cursor: pointer;
}

.pets {
    width: 1280px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.pets-content {
    width: 400px;
    height: 90px;
    color: #545454;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    text-align: center;
}

.pets-container {
    margin: 60px 40px;
    background-color: #F6F6F6;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 30px 0px;
}

.Slider-card {
    gap: 30px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-pets {
    width: 270px;
    height: 270px;
}

.name-pets {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 12.9px;
    text-align: center;
}

.button-card {
    color: #292929;
    width: 187px;
    height: 52px;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 12px;
    cursor: pointer;
}

.paginator {
    margin-bottom: 100px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.paginator-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.pagin-l {
    cursor: pointer;
    border: 2px solid #CDCDCD;
    border-radius: 50%;
}

.pagin-center {
    cursor: pointer;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    background-color: #F1CDB3;
}

.pagin-r {
    cursor: pointer;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
}

footer {
    width: 1280px;
    height: 350px;
    background-image: url("images/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.footet-element {
    margin: 40px 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.h3-footer {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.footer-content {
    margin-left: 20px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #F1CDB3;
}

.footer-puppy {
    width: 300px;
    height: 310px;
}

.footer-flex1 {
    width: 278px;
    height: 234px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-flex2 {
    width: 302px;
    height: 234px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.Contacts-icon {
    width: 40px;
    height: 32px;
    object-fit: contain;
}

.Location-icon {
    width: 22px;
    height: 32px;
    object-fit: contain;
}

.link-style {
    text-decoration: none;
    color: #545454;
}