body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
}

.Main {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.Start-Screen {
    width: 1280px;
    height: 908px;
    background-image: url("images/start-screen-background.jpg");
    background-image: url("images/start-screen-gradient-background.jpg");
    background-repeat: no-repeat;
    margin: auto;
}

header {
    height: 60px;
    margin: 30px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    width: 443px;
    height: 27px;
    display: flex;
    color: #FFFFFF;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.Title {
    color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
}

.Subtitle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.31px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
}

nav {
    margin: 16px 0px 19px 0px;
    width: 443px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.Link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
}


.Start-screen-content {
    margin: 90px 40px 0;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.Content {
    margin-top: 163px;
    height: 322px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.Heading {
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    letter-spacing: 0%;

}

.Subheadind {
    color: #CDCDCD;
    font-family: Arial;
    width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;

}

.button-primary {
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    color: #292929;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    border-style: none;
}

.About {
    width: 1280px;
    height: 588px;
    background-color: #FFFFFF;
    margin: auto;
}

.Puppy {
    height: 728px;
}

.container-about {
    height: 408px;
    margin: 80px 0px 100px 215px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.Dog-and-cat {
    width: 300px;
    height: 408px;
}

.content-about {
    margin-left: 120px;
    margin-top: 14px;
    display: flex;
    width: 430px;
    height: 380px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.About-h3 {
    width: 370px;
    margin-right: 60px;
}

h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    margin: 0;
    color: #545454;
}

.About-subheadind-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.About-subheadind {
    margin-top: 25px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4C4C4C;
}

.Pets {
    width: 1280px;
    height: 870px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.Card-pets {
    display: flex;
}

.slider-pets {
    width: 270px;
    height: 270px;
}

.Help {
    width: 1280px;
    height: 611px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.Help-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.icon-help {
    width: 60px;
    height: 60px;
}

.Donation {
    width: 1280px;
    height: 462px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;

}

.Donation-dog {
    width: 505px;
    height: 261px;
}

.Donation-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.Card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.Donation-card {
    width: 30px;
    height: 23px;
}

footer {
    width: 1280px;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("images/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.footer-puppy {
    width: 300px;
    height: 310px;
}

.Contacts-icon {
    width: 40px;
    height: 32px;
}

.Location-icon {
    width: 22px;
    height: 32px;
}