@media (min-width: 1279px) and (max-width: 3000px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
  }

  .Main {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .Start-Screen {
    width: 1280px;
    height: 908px;
    background-image: url("images/start-screen-background.jpg");
    background-image: url("images/start-screen-gradient-background.jpg");
    background-repeat: no-repeat;
    margin: auto;
  }

  header {
    height: 60px;
    margin: 30px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .Logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .nav {
    width: 443px;
    height: 27px;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .burger-menu {
    display: none;
  }

  .Title {
    color: #f1cdb3;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
  }

  .Subtitle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.31px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
  }

  nav {
    margin: 16px 0px 19px 0px;
    width: 443px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .Link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    cursor: pointer;
  }

  .Link:hover {
    border-bottom: 3px solid #f1cdb3;
  }

  .Start-screen-content {
    column-gap: 42px;
    margin: 90px 40px 0;
    display: flex;
    align-items: stretch;
  }

  .Content {
    margin-top: 163px;
    height: 322px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Heading {
    color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    letter-spacing: 0%;
  }

  .Heading-320 {
    display: none;
  }

  .Subheadind {
    color: #cdcdcd;
    font-family: Arial;
    width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .Subheadind-320 {
    display: none;
  }

  .Subheadind-320-text {
    display: none;
  }

  .button-primary {
    width: 207px;
    height: 52px;
    background-color: #f1cdb3;
    color: #292929;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    border-style: none;
    cursor: pointer;
  }

  .About {
    width: 1280px;
    height: 588px;
    background-color: #ffffff;
    margin: auto;
  }

  .Puppy {
    height: 728px;
  }

  .container-about {
    height: 408px;
    margin: 80px 0px 100px 215px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .Dog-and-cat {
    width: 300px;
    height: 408px;
  }

  .content-about {
    margin-left: 120px;
    margin-top: 14px;
    display: flex;
    width: 430px;
    height: 380px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .About-h3 {
    width: 370px;
    margin-right: 60px;
  }

  .About-h3-320 {
    display: none;
  }

  h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    margin: 0;
    color: #545454;
  }

  .About-subheadind-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .About-subheadind {
    margin-top: 25px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4c4c4c;
  }

  .pets-320 {
    display: none;
  }

  .Pets {
    width: 1280px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }

  .Pets-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .Heading-pets {
    margin: 80px 440px 60px 440px;
    text-align: center;
  }

  .Slider {
    gap: 53px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    cursor: pointer;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
  }

  .Card-pets {
    gap: 90px;
    display: flex;
  }

  .Slider-card {
    gap: 30px;
    height: 435px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-pets {
    width: 270px;
    height: 270px;
  }

  .name-pets {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 12px;
    text-align: center;
  }

  .button-card {
    color: #292929;
    width: 187px;
    height: 52px;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 12px;
    cursor: pointer;
  }

  .button-pets {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 261px;
    height: 52px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #292929;
    background-color: #f1cdb3;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
  }

  .text-in-elements {
    text-align: center;
  }

  .Help {
    width: 1280px;
    height: 611px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: normal;
    margin: auto;
  }

  .heading-help {
    text-align: center;
    margin-top: 80px;
  }

  h4 {
    margin-top: 25px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
  }

  .firs-list {
    margin-top: 60px;
    gap: 120px;
    display: flex;
  }

  .second-list {
    margin-top: 27px;
    gap: 120px;
    display: flex;
    justify-content: center;
  }

  .icon-help {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .list-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .list-text {
    text-align: center;
  }

  .Donation {
    width: 1280px;
    height: 462px;
    background-color: #f6f6f6;
    margin: auto;
  }

  .donation-element {
    margin: 80px 182px 0px;
    width: 915px;
    height: 282px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  h5 {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 4px;
    letter-spacing: 1px;
  }

  .Donation-dog {
    width: 505px;
    height: 261px;
  }

  .Donation-content {
    width: 380px;
    height: 282px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .h4-card {
    width: 274px;
    height: 23px;
    margin: 0px;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }

  .Card {
    width: 349px;
    height: 43px;
    background-color: #f1cdb3;
    border-radius: 9px;
  }

  .card-content {
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .legal-information {
    margin-top: 27px;
    width: 380px;
    height: 72px;
    color: #b2b2b2;
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .Donation-card {
    margin-right: 15px;
    width: 30px;
    height: 23px;
  }

  footer {
    width: 1280px;
    height: 350px;
    background-image: url("images/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
  }

  .footet-element {
    margin: 40px 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .h3-footer {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  .footer-element-320 {
    display: none;
  }

  .footer-content {
    margin-left: 20px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #f1cdb3;
  }

  .footer-puppy {
    width: 300px;
    height: 310px;
  }

  .footer-flex1 {
    width: 278px;
    height: 234px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-flex2 {
    width: 302px;
    height: 234px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
  }

  .Contacts-icon {
    width: 40px;
    height: 32px;
    object-fit: contain;
  }

  .Location-icon {
    width: 22px;
    height: 32px;
    object-fit: contain;
  }

  .link-style {
    text-decoration: none;
    color: #ffffff;
  }

  .link-style-button {
    text-decoration: none;
    color: #292929;
  }

  .link-about {
    border-bottom: 3px solid #f1cdb3;
  }
}
