@media (min-width: 320px) and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
  }

  .Main {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .Start-Screen {
    width: 320px;
    height: 823px;
    background-image: url("images/320px-start-screen-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  header {
    height: 60px;
    margin: 30px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .Logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .Title {
    color: #f1cdb3;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
  }

  .Subtitle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.31px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    text-align: center;
  }

  .navigation {
    display: none;
  }

  .burger-img {
    width: 30px;
    height: 22px;
    margin-top: 4px;
    cursor: pointer;
  }

  .Start-screen-content {
    height: 733px;
    display: flex;
    flex-direction: column;
  }

  .Content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Heading {
    display: none;
  }

  .Heading-320 {
    color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 300px;
    height: 64px;
    margin-top: 60px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .Subheadind {
    color: #cdcdcd;
    font-family: Arial;
    margin: 42px 0px;
    width: 300px;
    height: 96px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
  }

  .button-primary {
    width: 207px;
    height: 52px;
    background-color: #f1cdb3;
    color: #292929;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    border-style: none;
    cursor: pointer;
  }

  .Puppy {
    margin: 105px 10px 0px 50px;
    width: 260px;
    height: 271.77px;
  }

  .About {
    width: 320px;
    height: 974px;
    background-color: #ffffff;
    margin: auto;
    text-align: justify;
  }

  .container-about {
    width: 300px;
    height: 890px;
    margin: 42px 10px 0px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .Dog-and-cat {
    width: 260px;
    height: 353.6px;
  }

  .content-about {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .About-h3 {
    width: 300px;
  }

  h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 1.5px;
    margin: 0;
    color: #545454;
    text-align: center;
  }

  .About-subheadind-content {
    width: 270px;
    height: 191px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .About-subheadind {
    margin-top: 25px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4c4c4c;
  }

  .Pets {
    display: none;
  }

  .pets-320 {
    width: 320px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }

  .Pets-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .Heading-pets {
    margin: 42px 0px;
    text-align: center;
  }

  .Slider {
    width: 270px;
    display: flex;
    flex-direction: column;
  }

  .arrows {
    width: 212px;
    margin: 20px 20px 42px 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
  }

  .slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    cursor: pointer;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
  }

  .Card-pets {
    gap: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: row;
  }

  .Slider-card {
    gap: 30px;
    height: 435px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-pets {
    width: 270px;
    height: 270px;
  }

  .name-pets {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 12px;
    text-align: center;
  }

  .button-card {
    color: #292929;
    width: 187px;
    height: 52px;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 12px;
    cursor: pointer;
  }

  .button-pets {
    margin-bottom: 42px;
    width: 261px;
    height: 52px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #292929;
    background-color: #f1cdb3;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
  }

  .text-in-elements {
    text-align: center;
  }

  .Help {
    width: 320px;
    height: 745px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: normal;
    margin: auto;
  }

  .heading-help {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
  }

  h4 {
    margin-top: 15px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
  }

  .list-grid {
    width: 290px;
    height: 555px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .firs-list,
  .second-list {
    display: contents;
  }

  .list-element {
    width: 130px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
  }

  .icon-help {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .Donation {
    width: 320px;
    height: 542.2px;
    background-color: #f6f6f6;
    margin: auto;
  }

  .donation-element {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }

  h5 {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 4px;
    letter-spacing: 1px;
  }

  .Donation-dog {
    width: 260px;
    height: 135.2px;
  }

  .Donation-content {
    width: 300px;
    height: 281px;
    margin: 42px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .h4-card {
    width: 206px;
    height: 17px;
    margin: 0px;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
  }

  .Card {
    width: 281px;
    height: 43px;
    background-color: #f1cdb3;
    border-radius: 9px;
  }

  .card-content {
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .legal-information {
    margin-top: 20px;
    width: 280px;
    height: 90px;
    color: #b2b2b2;
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .Donation-card {
    margin-right: 15px;
    width: 30px;
    height: 23px;
  }

  footer {
    width: 320px;
    height: 809px;
    background-image: url("images/320зч-footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  .footet-element {
    display: none;
  }

  .footer-element-320 {
    margin: 30px 30px 0px;
    row-gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .h3-footer {
    font-family: Georgia;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #ffffff;
  }

  .footer-content {
    margin-left: 20px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #f1cdb3;
  }

  .footer-puppy {
    width: 260px;
    height: 269px;
  }

  .footer-flex1 {
    width: 278px;
    height: 208px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-flex2 {
    width: 300px;
    height: 222px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
  }

  .Contacts-icon {
    width: 40px;
    height: 32px;
    object-fit: contain;
  }

  .Location-icon {
    width: 22px;
    height: 32px;
    object-fit: contain;
  }

  .link-style {
    text-decoration: none;
    color: #ffffff;
  }

  .link-style-button {
    text-decoration: none;
    color: #292929;
  }

  .link-about:hover {
    border-bottom: 3px solid #f1cdb3;
  }
}
